@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: #0f172a; /* Dark Hacker Blue */
    color: white;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden; 
}